div > ul {
	list-style-type:none;
}

p {
	font-family: garamond, serif;
}

li > h4 {
	font-family: garamond, serif;
}

.highlight_yellow {
    background-color: #fff2ac;
    background-image: linear-gradient(to right, #ffe359 0%, #ffe359 100%);
}

.highlight_blue {
    background-color: #ACC9FF;
    background-image: linear-gradient(to right, #ACC9FF 0%, #ACC9FF 100%);
}

.highlight_green {
    background-color: #BEFFAC;
    background-image: linear-gradient(to right, #BEFFAC 0%, #BEFFAC 100%);
}